.icon-sprite {
	object-fit: cover;
}
.icon-rounded {
	border-radius: 100%;
}
.icon {
	width: calc(var(--size) * 1px);
	height: calc(var(--size) * 1px);
}
.deathknight-blood {
	object-position: calc(-1px * var(--size)) 0px;
}
.deathknight-frost {
	object-position: calc(-2px * var(--size)) 0px;
}
.deathknight-unholy {
	object-position: calc(-6px * var(--size)) 0px;
}
.demonhunter-havoc {
	object-position: calc(-8px * var(--size)) 0px;
}
.demonhunter-vengance {
	object-position: calc(-9px * var(--size)) 0px;
}
.druid-balance {
	object-position: calc(-11px * var(--size)) 0px;
}
.druid-feral {
	object-position: calc(-13px * var(--size)) 0px;
}
.druid-guardian {
	object-position: calc(-14px * var(--size)) 0px;
}
.druid-restoration {
	object-position: calc(-15px * var(--size)) 0px;
}
.hunter-beastmastery {
	object-position: calc(-21px * var(--size)) 0px;
}
.hunter-marksman {
	object-position: calc(-22px * var(--size)) 0px;
}
.hunter-survival {
	object-position: calc(-24px * var(--size)) 0px;
}
.mage-arcane {
	object-position: calc(-26px * var(--size)) 0px;
}
.mage-fire {
	object-position: calc(-27px * var(--size)) 0px;
}
.mage-frost {
	object-position: calc(-28px * var(--size)) 0px;
}
.monk-brewmaster {
	object-position: calc(-31px * var(--size)) 0px;
}
.monk-mistweaver {
	object-position: calc(-32px * var(--size)) 0px;
}
.monk-windwalker {
	object-position: calc(-33px * var(--size)) 0px;
}
.paladin-holy {
	object-position: calc(-36x * var(--size)) 0px;
}
.paladin-protection {
	object-position: calc(-38px * var(--size)) 0px;
}
.paladin-retribution {
	object-position: calc(-39px * var(--size)) 0px;
}
.priest-discipline {
	object-position: calc(-42px * var(--size)) 0px;
}
.priest-holy {
	object-position: calc(-44px * var(--size)) 0px;
}
.priest-shadow {
	object-position: calc(-45px * var(--size)) 0px;
}
.rogue-assassination {
	object-position: calc(-48px * var(--size)) 0px;
}
.rogue-outlaw {
	object-position: calc(-51px * var(--size)) 0px;
}
.rogue-subtlety {
	object-position: calc(-52px * var(--size)) 0px;
}
.shaman-elemental {
	object-position: calc(-54px * var(--size)) 0px;
}
.shaman-enhancement {
	object-position: calc(-55px * var(--size)) 0px;
}
.shaman-restoration {
	object-position: calc(-56px * var(--size)) 0px;
}
.warlock-affliction {
	object-position: calc(-60px * var(--size)) 0px;
}
.warlock-demonology {
	object-position: calc(-61px * var(--size)) 0px;
}
.warlock-destruction {
	object-position: calc(-62px * var(--size)) 0px;
}
.warrior-arms {
	object-position: calc(-65px * var(--size)) 0px;
}
.warrior-fury {
	object-position: calc(-67px * var(--size)) 0px;
}
.warrior-protection {
	object-position: calc(-70px * var(--size)) 0px;
}
